body {
  text-align  : center;
  font-family : 'Josefin Sans',
                sans-serif;
}

button:focus {
  outline : none !important;
}

.title-bar {
  display          : flex;
  height           : 100px;
  border           : 1px solid black;
  background-color : hotpink;
  align-items      : center;
  justify-content  : center;
}

#title {
  font-size   : 50px;
  font-weight : 700;
}

.garage-container {
  display         : flex;
  align-items     : center;
  flex-direction  : column;
  justify-content : center;
}

#garage-door {
  width       : 300px;
  height      : 30px;
  margin      : 20px auto;
  padding-top : 15px;
  border      : 1px solid black;
}

#garage-door:hover {
  cursor : pointer;
}

.garage {
  display : none;
  margin  : 20px;
}

.garage-open {
  display        : flex;
  flex-direction : column;
}

#sort-button:hover {
  border           : none;
  border-radius    : 5px;
  background-color : lightgray;
  cursor           : pointer;
}

#inventory-header {
  display         : flex;
  margin-bottom   : 10px;
  align-items     : center;
  justify-content : space-between;
}

.stats {
  font-size   : 18px;
  font-weight : 100;
}

.stats span {
  font-weight : 700;
}

#garage-inventory {
  margin : 10px 0;
  border : 1px solid black;
}

.garage-list-item {
  display         : flex;
  height          : 30px;
  margin          : 10px;
  border          : 1px solid black;
  text-transform  : capitalize;
  align-items     : center;
  justify-content : center;
}

.garage-list-item:hover {
  color            : hotpink;
  background-color : black;
  cursor           : pointer;
}

.item-name {
  font-weight : 400;
}

#item-detail {
  margin : 20px;
}

.item-card {
  border         : 1px solid black;
  text-transform : uppercase;
}

.item-card {
  padding          : 10px;
  color            : white;
  border-radius    : 10px;
  background-color : black;
  font-weight      : 400;
}

.item-card span {
  font-size   : 13px;
  font-weight : 100;
}
